.App {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  /* margin: 1rem 20rem; */
  margin: 1rem 5rem;
  min-height: 900px;
}

.key-information {
  display: flex;
  padding-bottom: 1rem;
}

.key-information div {
  padding-right: 2.5rem;
}

.strategyAnalysis th,
.strategyAnalysis td {
  padding-right: 1rem;
}

.footer {
  margin: 0 20rem;
  font-size: 0.7rem;
  text-align: center;
}

.strategyInput {
  display: flex;
  flex-direction: column;
}

.strategyInput input {
  max-width: 4rem;
}

.strategyInput .buyFrequency {
  display: flex;
}

.strategyInput .buyFrequency .checkboxes {
  padding-right: 1rem;
}

/* liked colors:
#e62e5c red/pink
#5d4aec, #6c5ce7 purple/blue

*/
